* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

.medsos {
	padding: 5px 0;
	background-color: #1f2c68;
}

.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 10px;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.container:after {
	content: '';
	display: block;
	clear: both;
}

header h1 {
	float: left;
	font-size: 30px;
	padding: 15px 0;
	color: #1f2c68;
}

header ul {
	float: right;
}

header ul li {
	display: inline-block;
}

header ul li a {
	padding: 25px 20px;
	display: inline-block;
}

header ul li a:hover {
	background-color: #1f2c68;
	color: #fff;
}

.active {
	background-color: #1f2c68;
	color: #fff;
}

.banner {
	height: 60vh;
	background-image: url('../img/banner2.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner:after {
	content: '';
	display: block;
	position: absolute;
	top:0;
	left:0 ;
	right:0 ;
	bottom: 0;
	background-color: rgba(55, 78, 121, 0.6);

}

.heading1 {
	color:#fff;
	z-index: 1;
	font-size: 40px;
}


section {
	padding: 50px 0;
	border-bottom: 2px solid #dee7ec;
}

section h3 {
	text-align: center;
	padding: 20px 0;
	color: #1f2c68;
	margin-bottom: 25px;
}

.service {
	padding-bottom: 100px;
	border-bottom: 2px solid #dee7ec;
}

.about p {
	color: rgb(53, 50, 50);
	word-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px;
	text-align: center;
}

.service {
	background-color: #f9f9f9;
	border-bottom: 2px solid #dee7ec;
}

.box {
	color: navy;
}

.box:after {
	content: '';
	display: block;
	clear: both;
}

.box .col-4 {
	width: 25%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
	float: left;
}

.icon {
	width: 70px;
	height: 70px;
	border: 1px solid;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	margin: 0 auto;
}

.box .col-4 h4 {
	margin: 20px 0;
}

footer {
	position: relative;
	width: 100%;
	bottom: 0px;
	background: grey;
}

.footer-content {
	display: flex;
}

.content-social {
	flex-basis: 30%;
	padding: 10px 20px;
	margin-left: 30px;
	margin-top: 10px;
	line-height: 40px;
	color: ivory;
	font-weight: 500;
}

.content-social li a:hover {
	background: darkturquoise;
	transition: 0.3s;
}

.content-address {
	flex-basis: 35%;
	padding: 10px 20px;
	margin-left: 20px;
	margin-top: 10px;
	color: ivory;
	line-height: 50px;
}

.content-address  span:hover {
 background: darkturquoise;
 cursor: pointer;

}


.content-pesan {
	flex-basis: 30%;
	padding: 10px 20px;
	margin-left: 20px;
	margin-top: 10px;
	color: ivory;
}




.content-pesan .content .email {
	margin-top: 10px;
}

.footer-bottom {
	padding: 5px;
	background-color:black;
	color: #fff;
	text-align: center;
	width: 100%;
	height: 20px;
	border-top: 2px solid rgb(39, 39, 143);

}



.bg-loader {
	background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg-loader .loader {
	width: 100px;
	height: 100px;
	border: 3px solid #fff;
	border-radius: 50%;
	border-top-color: #148F77;
	border-right-color: #148F77;
	border-bottom-color: #148F77;
	animation: puterin .8s linear infinite;
}

.label {
	background-color: #148F77;
	color: #fff;
}

@keyframes puterin {
	100% {
		transform: rotate(360deg);
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 90%;
	}

	header h1 {
		text-align: center;
		float: none;
	}

	header ul {
		text-align: center;
		float: none;
	}

	.box .col-4 {
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}
    .box .col-4 p{
		color: black;
	}
